<div id='cssmenu'>
<ul>
   <li><a [routerLink]="['/servicios']">Estado de Orden</a></li>
   <li><a [routerLink]="['/about']">Realizar Petición Material</a></li>
   <li><a [routerLink]="['/login']" type="logout"(click)="logout();" >Logout</a>
   </li>

</ul>
</div>


<div class="login-page">
  <h2>Realizar Petición Material</h2>
    <form (ngSubmit)="onSubmit()" #mantencionForm="ngForm">
      <div class="form">
        <label for="title">Titulo</label>
        <input type="text" class="" id="title"
               required
               [(ngModel)]="data.title" name="title"
               #name="ngModel">



        <label for="detail">Detalle</label>
        <input type="detail" class="" id="detail"
               required
               [(ngModel)]="data.detail" name="detail"
               >

        <label for="detail">Stock</label>
        <input type="text" class="" id="stock"
                required
                      [(ngModel)]="data.stock" name="stock"
                      >


      <button
      type="submit" (click) = "onSubmit();">Ingresar Material</button>
      </div>
    </form>

</div>
