

  <div id='cssmenu'>
  <ul>
     <li><a [routerLink]="['/servicios']">Estado de Orden</a></li>
     <li><a [routerLink]="['/about']">Realizar Petición Material</a></li>
     <li><a [routerLink]="['/login']">Volver</a>
     </li>


  </ul>
  </div>

<h2>Estado de Orden </h2>
  <table class="table">

                      <tr>

                          <th>Titulo</th>

                          <th>Estado</th>

                          <th>Fecha</th>

                      </tr>

                      <tr *ngFor="let dato of datos; let i = index">

                          <td>{{dato.titulo}}</td>

                          <td>{{dato.estado}}</td>

                          <td>{{dato.fecha}}</td>

                      </tr>

                  </table>


<!--<div class="container">
  <h2>Estado de Orden</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Nro De Orden</th>
        <th>Estado</th>
        <th>Asunto</th>
        <th>Costo</th>
        <th>Fecha</th>


      </tr>
    </thead>
    <tbody>

      <tr class="success">
        <td>01</td>
        <td>Finalizada</td>
        <td>Presión Válvula</td>
        <td>$56.920</td>
        <td>3/10/2017</td>
      </tr>

      <tr class="warning">
        <td>02</td>
        <td>En proceso</td>
        <td>Reemplazo cable RJ45</td>
        <td>$16.573</td>
        <td>18/09/2017</td>
      </tr>

      <tr class="danger">
        <td>03</td>
        <td>En espera</td>
        <td>Cambiar filamento ampolleta</td>
        <td>$1.290</td>
        <td>10/10/2017</td>
      </tr>



    </tbody>
  </table>-->
