<div id='cssmenu'>
<ul>

   <li><a [routerLink]="['/EncargadoBodega']">Cobro de orden</a></li>

   <li><a [routerLink]="['/login']" type="logout"(click)="logout();" >Logout</a>
   </li>

</ul>
</div>
<h2>Cobro de Orden</h2>
<table class="table">

                    <tr>

                        <th>Titulo</th>

                        <th>Estado</th>

                        <th>Costo</th>

                        <th>Fecha</th>

                    </tr>

                    <tr *ngFor="let dato of datos; let i = index">

                        <td>{{dato.titulo}}</td>

                        <td>{{dato.estado}}</td>

                        <td>NONE</td>

                        <td>{{dato.fecha}}</td>

                    </tr>

                </table>
